* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: auto;
    width: 60%;
    padding-top: 100px;
    background-color: rgb(83, 77, 77);

}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    color: aliceblue;
}

header h1 {
        border-radius: 25px;
        border: 2px solid rgb(5, 255, 0);
        padding: 20px;    
        background-color: rgb(118, 112, 104);
        color: rgb(255, 255, 255);
        font-family: "Roboto", sans-serif;
}

p {
    color: aliceblue;
    font-family: "Raleway", sans-serif;
}


table, th, td {
    border: 1px solid;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: rgb(5, 255, 0);
    color: white;
}

td {
    text-align: center;
    color: aliceblue;
    font-weight: bold
}

input {
    width: 300px;
    padding: 5px;
    margin: 10px auto;
}

button {
    background-color: rgb(5, 255, 0);
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 22px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text] {
    margin-right: 100px;
}